/* Color Theme Swatches in Hex */
$pink: #caafd0;
$darkPink: #cc7295;
$lightPink: #efa9a9;
$hardal: #dbe1b5;
$olive: #75957d;


//  https://color.adobe.com/trends sitesinden alindi, 
// kullanilacak olan temayi sec -> sol tarafta cikan menuden copy as sass a tikla , bu sayfaya yapistir.