@import './variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  gap: 2rem;
  .card {
    padding: 1.5rem;
    max-width: 300px;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
    img {
      width: 50%;
      margin: 1rem;
      border-radius: 50%;
    }
    h1 {
      color: red;
    }
    h2 {
      color: green;
    }
    .btn-container {
      button {
        border-radius: 1rem;
        color: white;
        cursor: pointer;
        border: none;
        &:hover {
          opacity: 0.5;
        }
      }

      &--small {
        background-color: $olive;
        padding: 0.8rem;
        margin-right: 0.3rem;
      }
      &--large {
        background-color: $darkPink;
        padding: 0.8rem 1.6rem;
      }
    }
  }
}
