body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 /* burada header yaparak bi still verirsek projedeki butun headerlara uygular  */
header{   
  color: black;
  text-align: center;
  background-color: grey;
  padding: 2rem;
}

footer{   
  color: white;
  text-align: center;
  background-color: black;
  padding: 2rem;
}

.content{
  overflow: auto;
  padding: 2rem;
  height: calc(100vh - 267px);  
}

/* footeri en alta dayamak icin, ekranin tamamindan footer ve navin heightini cikardik.
/* kalan contentin yuksekligi oldu.

/*! CSS stillendirmeliri yaparken tüm bu stillendirmelerin
/*! tek bir dosyada birlesecigini unutmamak gerekir. Parent'daki
/*! bir stil asagidaki stilleri ezebilir. Bunun icin class isimlerinin
//*! her componente gore ayri ayri verilmesi daha dogru bir yaklasim
//*! olabilir. Ornegin content-par gibi */

.par1{
  color: blue;
}

